<form [formGroup]="formulaire" (ngSubmit)="onConnexion()">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email">
    @if(formulaire.get('email')?.hasError('required')) {
      <mat-error>L'email est requis</mat-error>
    } @else {
      <mat-error>Le format est invalide</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error>Le mot de passe est requis</mat-error>
  </mat-form-field>

  <button mat-flat-button>Se connecter</button>

</form>