.categorie {
    display: flex;
    margin: 5px;
  
    .en-tete {
      width: 100px;
      height: 100px;
      background-color: #ff00c8;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &:nth-child(1) .en-tete {
      background-color: #ff0000;
    }
  
    &:nth-child(2) .en-tete {
      background-color: #ffbf00;
    }
  
    &:nth-child(3) .en-tete {
      background-color: #5eff00;
    }
  
    &:nth-child(4) .en-tete {
      background-color: #00ffee;
    }
  
    &:nth-child(5) .en-tete {
      background-color: #1900ff;
    }
  
    &:nth-child(6) .en-tete {
      background-color: #d000ff;
    }
  }