nav{
    ul{
        display: flex;
        li{
            list-style: none;
            margin: 0 30px;
            a{
            padding: 1em;
            background-color: aliceblue;
            border-radius: 15%;
            cursor: pointer;
            user-select: none;

            &:hover{
                background-color: #0eded7;
            }
        }
        }
    }
}